/*
  CSS Crée par Kabeche Julien
*/

body {
  margin: 0;
  background-color: darkgray;
}
/*
==========
    MENU
==========
*/
#navbar{
  background-color: lightgray;
  border-bottom: solid;
  border-color: gray;
}
.menu{
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 79%;
}
.logo{
  margin:auto;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}
.menu a{
  color: blue;
  font-size: 30px;
  display: inline-block;
  text-align: right;
  font-family: "Acme","Gloria Hallelujah","Josefin Sans", "Roboto", arial, serif, sans-serif;
  margin-right: 20px;

}
/*
=================
  First Section
=================
*/
h1{
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 4em;
  font-family: "Gloria Hallelujah","Acme","Roboto","Josefin Sans",arial, serif, sans-serif;
  border: solid;
  border-color: transparent;
  border-radius: 60%;
  border-width: 8px;
  background-color: blue;
  width: 50%;
  margin-left: 25%;
}
p{
  display: inline-block;
  color: black;
  text-align: center;
  vertical-align: middle;
  font-size: 3em;
  font-family: "Acme","Gloria Hallelujah","Roboto","Josefin Sans",arial, serif, sans-serif;
  margin-top: 5%;
  width: 49%;
}
.text-color{
  color: red;
}
